<h1>Konto#logowanie</h1>
<h1>Sign in</h1>
<form method="POST" action="/konto/logowanie">
    <label for="user">User:</label><input type="text" name="login[username]" id="user"><br>
    <label for="password">Password:</label><input type="password" name="login[password]" id="password"><br>
    <input type="submit">
</form>
